.Heart {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .Heart-Button {
    padding: 14px 24px;
    font-size: 21px;
  }

  .Heart-Figure {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Heart-Blockquote {
    border-left: 5px solid gray;
    text-align: left;
  }

  .Heart-Step__third {
    display: none;
  }
}