.Heart {
  position: relative;
  text-align: center;
}

.jumbotron {
  background-color: transparent !important;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}